.contentWrapper {
  padding-bottom: 30px;
}
.header {
  background-color: #fff !important;
  color: #171b21 !important;
  border-bottom: 1px solid #f0f0f0;
}
.header.dark {
  background-color: #171b21 !important;
  color: #fff !important;
  border-bottom: none;
}
.editorWrapper {
  position: fixed;
  left: 0;
  top: 65px;
  width: 40%;
  bottom: 0;
}
.toggleSimply {
  position: fixed;
  top: 65px;
  left: 40%;
  z-index: 99;
  margin-left: -98px;
}
.previewWrapper {
  position: fixed;
  left: 40%;
  top: 65px;
  width: 60%;
  bottom: 0;
  right: 0;
}
